.appBar {
  transition: min-height 250ms ease-in-out;
  min-height: 90px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border-bottom: 1px solid transparent;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 5;
  box-sizing: border-box;
  @media (min-width: 1400px) {
    padding-right: 80px;
  }

  &--scrolled {
    min-height: 70px;
    border-color: var(--color-border-appbar);
    background: var(--color-background-transparent);
    backdrop-filter: blur(16px);
  }
}

.logo {
  display: flex;
  align-items: center;
  transition: all 250ms ease-in-out;
  transform: translateX(20%);
  width: fit-content;

  &--scrolled {
    transform: translateX(40%);
  }
}

.navbar {
  width: fit-content;
  display: flex;
  flex-flow: row;
  margin-right: 8px;
  align-items: center;
}

.navbarInner {
  width: fit-content;
  display: flex;
  flex-flow: row;
  margin-right: 8px;
  @media (min-width: 600px) {
    margin-right: 40px;
  }

  &::after {
    content: "";
    position: absolute;
    width: var(--width);
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    box-shadow: var(--shadow-3d-button);
    z-index: -1;
    border-radius: 6px;
    transition: all 250ms ease 0s;
    transform: translateX(var(--left));
  }
}

.listItem {
  width: fit-content;
  padding-left: 40px;
  padding-right: 40px;
  transition: color 150ms ease-in-out;

  &:hover {
    color: var(--color-primary);
    background-color: unset;
  }
}

.navIcon {
  transition: color 150ms ease-in-out;
  flex-grow: 0;
  &:hover {
    color: var(--color-primary);
  }
}
