.flip_container {
  position: relative;
  height: 320px;
  box-sizing: border-box;
}
.flip_parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip_container:hover .flip_parent{
  transform: rotateY(-180deg);
}
.flip_front,
.flip_back {
  display: grid;
  align-content: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.flip_front {
  background-color: #fff;
  cursor: pointer;
}
.flip_back {
  transform: rotateY(-180deg);
  background-color: #f9f9f9;
}
.flip_title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  transform-style: preserve-3d;
}
.flip_title span {
  display: block;
  padding: 20px;
  /* background-color: $red_1; */
  color: #333;
  border-radius: 10px;
  transform: translateZ(9rem);
}
.flip_image {
  filter: blur(3px);
  height: 320px;
  object-fit: cover;
  background-blend-mode: overlay;
}
.flip_content {
  overflow: auto;
  padding: 15px;
  transform-style: preserve-3d;
  transform: translateZ(9rem);
  box-sizing: border-box;
}
.flip_content p {
  transform: translateZ(10rem);
}
.flip_front::before {
  box-sizing: border-box;
  margin: 0;
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  /* border: 3px solid #333; */
  transform: translateZ(5rem);
}

.flip_back::before {
  box-sizing: border-box;
  margin: 0;
  content: '';
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  /* box-shadow: $box_shadow_2; */
  /* transform: translateZ(3rem); */
}
.flip_link {
  width: 90%;
  margin: 0 auto;
  /* max-width: 300px; */
  /* display: flex !important; */
  box-sizing: border-box;
}