.appBar {
  transition: transform 250ms ease-in-out;
  transform: translateY(10px);
  min-height: 70px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border-bottom: 1px solid transparent;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 5;
  box-sizing: border-box;
  @media (min-width: 1400px) {
    padding-right: 80px;
  }
  &::after {
    content: "";
    top: 100%;
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--color-border-appbar);
    transition: all 350ms ease-in-out;
    opacity: 0;
    filter: blur(10px)
  }

  &--scrolled {
    transform: translateY(0px);
    backdrop-filter: blur(16px);
    background: var(--color-background-transparent);
    &::after {
      opacity: 1;
      filter: blur(0)
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  transition: all 250ms ease-in-out;
  transform: translateX(20%);
  width: fit-content;

  &--scrolled {
    transform: translateX(40%);
  }
}

.navbar {
  width: fit-content;
  display: flex;
  flex-flow: row;
  margin-right: 8px;
  align-items: center;
}

.navIcon {
  transition: color 150ms ease-in-out;
  flex-grow: 0;
  &:hover {
    color: var(--color-primary);
  }
}
