@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
/* html {
  scroll-behavior: smooth;
} */
body {
  --backgroundColor: #f0f0f3;
  --text-color: #212121;
  --selection-backgroundColor: #212121;
  --selection-text-color: #00e5ff;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira S ans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: radial-gradient(circle, rgba(38, 50, 56,1) 0%, rgba(96,125,139,1) 100%); */
  background: #f0f0f3;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
body.dark-mode {
  --backgroundColor: #212121;
  --text-color: #fff;
  --selection-backgroundColor: #00e5ff;
  --selection-text-color: #212121;
  background: #212121;
}
body.visible {
  opacity: 1;
}
a {
  text-decoration: none;
  color: unset;
}
p, div, section, ::after, ::before{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cyan {
  color: #00e5ff;
}

.grey {
  color: grey;
}
.white {
  color: #fff;
}
.link {
  transition: color 250ms ease-in-out;
}
.link:hover {
  color: #00e5ff;
}

/* non selectable link text */
a {
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent !important;

}
div, h1, h2, h3, h4, span, p , button{
  -webkit-tap-highlight-color: transparent !important;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  z-index: 2;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 1);
  background: rgba(38, 50, 56,1);
  /* background: radial-gradient(circle, rgba(31,143,185,1) 0%, rgba(0,0,0,0.5662640056022409) 73%); */
    /* border-radius: 0.7rem; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #141c2879; 
  /* background: radial-gradient(circle, #00e5ff 0%, rgba(38, 50, 56,1) 100%); */
  background: linear-gradient(90deg, #00e5ffad 0%, rgba(38, 50, 56,1) 45%, rgba(38, 50, 56,1) 55%, #00e5ffad 100%);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(38, 50, 56,1);
  background: linear-gradient(90deg, #00e5ffdc 10%, rgba(38, 50, 56,1) 45%, rgba(38, 50, 56,1) 55%, #00e5ffdc 90%);
}

/* animations */

@-webkit-keyframes drop {
  0% {
    /* top: -50%; */
    transform: translateY(-50vh);
  }
  100% {
    /* top: 110%; */
    transform: translateY(160vh);
  }
}

@keyframes drop {
  0% {
    /* top: -50%; */
    transform: translateY(-50vh);
  }
  100% {
    /* top: 110%; */
    transform: translateY(160vh);
  }
}

/* animations */
.fadeIn {
  animation: fadeIn 300ms ease-in;
}
@keyframes fadeIn {
  0%{opacity:0}
  100%{opacity:1;}
}

.scaleIn {
  animation: scaleIn 300ms ease-out;
}
@keyframes scaleIn {
  0%{transform:scale(0.97);}
  50%{transform:scale(1.01);}
  100%{transform:scale(1);}
  
  /* 0%{
    transform:translateY(-30px);
    opacity:0;
  }
  50%{
    transform:translateY(10px);
  }
  100%{
    transform:translateY(0);
    opacity:1;
  } */
}

@keyframes rotate {
  0% {transform: rotate(0);}
  /* 50% {transform: rotate(180deg);} */
  100% {transform: rotate(360deg);}
}

/* loader animation */

/* my loader */
.loader {
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
  height:100vh;
  z-index: 20;
  background-color: #000;
  animation: fadeOutLoader 1s linear;
  opacity: 0;;
  pointer-events: none;
}
.loader1 {
  position: absolute;
  left:50%;
  top:50%;
  border: 16px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  border-top: 16px solid #69d8ee;
  width: 200px;
  height: 200px;
  -webkit-animation: spin1 0.75s linear; /* Safari */
  animation: spin1 0.75s linear;
  margin-top: -100px;
  margin-left: -100px;
  opacity: 0;
}
.loader2 {
  position: absolute;
  left:50%;
  top:50%;
  border: 16px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  border-top: 16px solid #fff;
  width: 120px;
  height: 120px;
  -webkit-animation: spin2 0.5s linear; /* Safari */
  animation: spin2 0.5s linear;
  margin-top: -60px;
  margin-left: -60px;
  opacity: 0;
}
.loader3 {
  position: absolute;
  left:50%;
  top:50%;
  border: 16px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  border-top: 16px solid #69d8ee;
  width: 40px;
  height: 40px;
  -webkit-animation: spin3 0.25s linear; /* Safari */
  animation: spin3 0.25s linear;
  margin-top: -20px;
  margin-left: -20px;
  opacity: 0;
}
/* Safari */
@-webkit-keyframes spin1 {
  0% { -webkit-transform: rotate(0deg); opacity: 1;}
  100% { -webkit-transform: rotate(360deg); opacity: 0; }
}

@keyframes spin1 {
  0% { transform: rotate(0deg); opacity: 1;}
  100% { transform: rotate(360deg); opacity: 0; }
}
/* Safari */
@-webkit-keyframes spin2 {
  0% { -webkit-transform: rotate(0deg);  opacity: 1;}
  100% { -webkit-transform: rotate(-360deg); opacity: 0; }
}

@keyframes spin2 {
  0% { transform: rotate(0deg); opacity: 1;}
  100% { transform: rotate(-360deg); opacity: 0; }
}
/* Safari */
@-webkit-keyframes spin3 {
  0% { -webkit-transform: rotate(0deg);  opacity: 1;}
  100% { -webkit-transform: rotate(360deg); opacity: 0; }
}

@keyframes spin3 {
  0% { transform: rotate(0deg); opacity: 1;}
  100% { transform: rotate(360deg); opacity: 0; }
}

@keyframes fadeOutLoader {
  0%{opacity:1;}
  100%{opacity:0;}
}

/* animate border in circle */
.animateBorder {
    position: relative;
    z-index: 0;
    transition: 1s;
    border: 2px solid #00e5ff;
    box-sizing: unset !important;
    padding: 20px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.animateBorder::before, .animateBorder::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--backgroundColor);
    z-index: -1;
    /* transition:800ms ease-in-out; */
    content: '';
}

.animateBorder::before {
    height: calc(100% + 5px);
    animation: collapseWidth 800ms ease-in-out;
}

.animateBorder::after {
    width: calc(100% + 5px);
    animation: collapseHeight 800ms ease-in-out;
}

@keyframes collapseWidth {
    0%{width: 80%;}
    100%{width: 0;} 
}
@keyframes collapseHeight {
    0%{height: 80%;}
    100%{height: 0;} 
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid green; */
  -webkit-text-fill-color: var(--text-color);
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: background-color 5000s ease-in-out 0s;
}

/* Text selection styles */
::-moz-selection { /* Code for Firefox */
  color: var(--selection-text-color);
  background: var(--selection-backgroundColor);
}
::selection {
  color: var(--selection-text-color);
  background: var(--selection-backgroundColor);
}